* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 56px;
  font-weight: bold;
}
.logo img {
  width: 32px;
  background-color: white;
}
.logo {
  padding: 0 13px;
}

.container {
  width: 55vw;
  margin: auto;
  padding: 32px 0px;
}
